In [1]:
# Dependencies
import pandas as pd

In [2]:
county_csv = "2015_county_census_data_with_abbreviation.csv"

In [3]:
# Read our 2015 county data into pandas
county_df = pd.read_csv(county_csv)
county_df.head()

,ID,CensusId,State,State code,County,TotalPop,Men,Women,Hispanic,White,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1,1001,Alabama,AL,Autauga,55221,26745,28476,2.6,75.8,...,0.5,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6
1,2,1003,Alabama,AL,Baldwin,195121,95314,99807,4.5,83.1,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
2,3,1005,Alabama,AL,Barbour,26932,14497,12435,4.6,46.2,...,1.8,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6
3,4,1007,Alabama,AL,Bibb,22604,12073,10531,2.2,74.5,...,0.6,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3
4,5,1009,Alabama,AL,Blount,57710,28512,29198,8.6,87.9,...,0.9,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7

In [4]:
county_df.columns

Index(['ID', 'CensusId', 'State', 'State code', 'County', 'TotalPop', 'Men',
       'Women', 'Hispanic', 'White', 'Black', 'Native', 'Asian', 'Pacific',
       'Citizen', 'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr',
       'Poverty', 'ChildPoverty', 'Professional', 'Service', 'Office',
       'Construction', 'Production', 'Drive', 'Carpool', 'Transit', 'Walk',
       'OtherTransp', 'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork',
       'PublicWork', 'SelfEmployed', 'FamilyWork', 'Unemployment'],
      dtype='object')

In [5]:
crime_csv = "crime_data_w_population_and_cri.csv"

In [6]:
# Read our crime data into pandas
crime_df2 = pd.read_csv(crime_csv)
crime_df2.head()

,ID,County,State code,crime_rate_per_100000,index,EDITION,PART,IDNO,CPOPARST,CPOPCRIM,...,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON,population,FIPS_ST,FIPS_CTY
0,1,Yuba,CA,388.601036,538,1,4,245,73251,73251,...,27,39,213,612,1148,253,27,73340,6,115
1,2,Adams,CO,336.322153,724,1,4,247,457228,457686,...,274,238,1044,2175,9187,1464,101,469193,8,1
2,3,Alamosa,CO,178.428598,1630,1,4,248,15927,15927,...,3,3,22,52,226,15,3,16253,8,3
3,4,Arapahoe,CO,297.988700,889,1,4,249,637227,593040,...,265,552,970,2879,11787,1348,110,607070,8,5
4,5,Archuleta,CO,196.818107,1479,1,4,250,12179,12179,...,3,1,20,65,125,8,3,12194,8,7

In [7]:
crime_df2.columns

Index(['ID', 'County', 'State code', 'crime_rate_per_100000', 'index',
       'EDITION', 'PART', 'IDNO', 'CPOPARST', 'CPOPCRIM', 'AG_ARRST', 'AG_OFF',
       'COVIND', 'someINDEX', 'MODINDX', 'MURDER', 'RAPE', 'ROBBERY',
       'AGASSLT', 'BURGLRY', 'LARCENY', 'MVTHEFT', 'ARSON', 'population',
       'FIPS_ST', 'FIPS_CTY'],
      dtype='object')

In [8]:
countycrime_df = pd.merge(county_df, crime_df2, on=["County", "State code"])
countycrime_df.head()

,ID_x,CensusId,State,State code,County,TotalPop,Men,Women,Hispanic,White,...,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON,population,FIPS_ST,FIPS_CTY
0,1,1001,Alabama,AL,Autauga,55221,26745,28476,2.6,75.8,...,15,34,87,447,1233,85,108,55246,1,1
1,2,1003,Alabama,AL,Baldwin,195121,95314,99807,4.5,83.1,...,30,76,332,967,3829,192,31,195540,1,3
2,3,1005,Alabama,AL,Barbour,26932,14497,12435,4.6,46.2,...,4,8,36,90,362,21,0,27076,1,5
3,4,1007,Alabama,AL,Bibb,22604,12073,10531,2.2,74.5,...,4,8,36,122,251,27,0,22512,1,7
4,5,1009,Alabama,AL,Blount,57710,28512,29198,8.6,87.9,...,11,9,101,397,865,86,9,57872,1,9

In [9]:
countycrime_df.columns

Index(['ID_x', 'CensusId', 'State', 'State code', 'County', 'TotalPop', 'Men',
       'Women', 'Hispanic', 'White', 'Black', 'Native', 'Asian', 'Pacific',
       'Citizen', 'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr',
       'Poverty', 'ChildPoverty', 'Professional', 'Service', 'Office',
       'Construction', 'Production', 'Drive', 'Carpool', 'Transit', 'Walk',
       'OtherTransp', 'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork',
       'PublicWork', 'SelfEmployed', 'FamilyWork', 'Unemployment', 'ID_y',
       'crime_rate_per_100000', 'index', 'EDITION', 'PART', 'IDNO', 'CPOPARST',
       'CPOPCRIM', 'AG_ARRST', 'AG_OFF', 'COVIND', 'someINDEX', 'MODINDX',
       'MURDER', 'RAPE', 'ROBBERY', 'AGASSLT', 'BURGLRY', 'LARCENY', 'MVTHEFT',
       'ARSON', 'population', 'FIPS_ST', 'FIPS_CTY'],
      dtype='object')

In [17]:
summary_df = countycrime_df.drop(columns=['ID_x', 'index', 'EDITION', 'PART', 'IDNO', 'CPOPARST', 'CPOPCRIM', 'AG_ARRST', 'AG_OFF',
'COVIND', 'someINDEX', 'MODINDX', 'population', 'FIPS_ST','FIPS_CTY', 'IncomeErr', 'IncomePerCapErr'])
summary_df.head()

,CensusId,State,State code,County,TotalPop,Men,Women,Hispanic,White,Black,...,ID_y,crime_rate_per_100000,MURDER,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON
0,1001,Alabama,AL,Autauga,55221,26745,28476,2.6,75.8,18.5,...,2938,251.601926,3,15,34,87,447,1233,85,108
1,1003,Alabama,AL,Baldwin,195121,95314,99807,4.5,83.1,9.5,...,2939,228.086325,8,30,76,332,967,3829,192,31
2,1005,Alabama,AL,Barbour,26932,14497,12435,4.6,46.2,46.7,...,2940,177.278771,0,4,8,36,90,362,21,0
3,1007,Alabama,AL,Bibb,22604,12073,10531,2.2,74.5,21.4,...,2941,217.661692,1,4,8,36,122,251,27,0
4,1009,Alabama,AL,Blount,57710,28512,29198,8.6,87.9,1.5,...,2942,210.810064,1,11,9,101,397,865,86,9

In [18]:
summary_df.columns

Index(['CensusId', 'State', 'State code', 'County', 'TotalPop', 'Men', 'Women',
       'Hispanic', 'White', 'Black', 'Native', 'Asian', 'Pacific', 'Citizen',
       'Income', 'IncomePerCap', 'Poverty', 'ChildPoverty', 'Professional',
       'Service', 'Office', 'Construction', 'Production', 'Drive', 'Carpool',
       'Transit', 'Walk', 'OtherTransp', 'WorkAtHome', 'MeanCommute',
       'Employed', 'PrivateWork', 'PublicWork', 'SelfEmployed', 'FamilyWork',
       'Unemployment', 'ID_y', 'crime_rate_per_100000', 'MURDER', 'RAPE',
       'ROBBERY', 'AGASSLT', 'BURGLRY', 'LARCENY', 'MVTHEFT', 'ARSON'],
      dtype='object')